<div class="row">
  <div class="span12">
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :q, params[ :q ] %>
      <%= submit_tag 'Search', name: nil, class: 'btn' %>
    <% end %>
  </div>
</div>
