<li class="span4 project" data-project-id="<%= project.primary_key %>">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= project.stored( :title ) %></h3>
      <% unless project.stored( :description ).nil? %>
        <p><%= project.stored( :description ) %></p>
      <% end %>
      <%= link_to('Project Page', project_path(project), :class => 'btn btn-primary') %>
      </p>
    </div>
  </div>
</li>
