<li class="span4 project-card" data-project-id="<%= project_card_link_item.id %>">
<a href="<%= project_path project_card_link_item %>" class="thumbnail" title="<%= project_card_link_item.description %>"><%= render partial: 'projects/project_card', object: project_card_link_item %></a>
</li>
