<li class="span4 project-card" data-project-id="<%= project.id %>">
<a href="<%= project_path project %>" class="thumbnail" title="<%= project.description %>"><%= render partial: "projects/project_card_as_#{Hei::Application.config.hei[ 'projects_as' ]}", locals: { project: project } %></a>
</li>
