<% provide :title, @project.title %>

<section class="view row">
  <%= render partial: "projects/project_as_#{Hei::Application.config.hei[ 'projects_as' ]}" %>

  <% if not @project.tags.nil? %>
    <div class="span1">&nbsp;</div>

    <div class="span3 facet-list page-header">
      <h2>Tags</h2>

      <ul>
        <% @project.tags.each do |t| %>
          <li><%= t.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
