<% provide :title, @project.title %>

<section class="view row">
  <%= render @project %>

  <% if not @project.tags.nil? %>
    <div class="span1">&nbsp;</div>

    <div class="span3 facet-list page-header">
      <h2>Tags</h2>

      <ul>
        <% @project.tags.each do |t| %>
          <li><%= link_to t.name, search_path + "?tag[]=#{t.name}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
