<% provide :title, @project.title %>

<div class="row">
  <div class="span9">
    <h1><%= @project.title %></h1>
    <p class="description"><%= @project.description %></p>
  </div>
  <div class="span3 facet_list">
    <% seen_facet = {} %>
    <% @project.taggings.order('taggings.context').each do|tg| %>
      <% unless seen_facet[tg.context] %>
        <h3 class="facet_header"><%= @facet_hash[tg.context]['name'] %></h3>
        <% seen_facet[tg.context] = 1 %>
      <% end %>
      <span class='badge'><%= tg.tag.name %></span>
    <% end %>
  </div>
</div>
