<div class="row">
  <div class="span10">
    <h1><%= @project.title %></h1>
    <p class="description"><%= @project.description %></p>
  </div>
  <div class="span2">
    <h3>Facets</h3>
    <p>
    <% @project.taggings.order('taggings.context, tags.name').each do|tg| %>
      <span class='badge'><%= tg.tag.name %></span>
    <% end %>
    </p>
  </div>
</div>

