<li class="span5 project">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= project.title %></h3>
      <% unless project.description.blank? %>
        <p><%= truncate(project.description,:separator => ' ', :length => 150) %></p>
      <% end %>
      <p>
      <%= link_to('Info', project_path(project), :class => 'btn btn-primary') %>
      </p>
    </div>
  </div>
</li>
