$lightGray: #ddd;

/* palette: http://www.colourlovers.com/palette/353135/4_Minutes */
$slate: #2c2f32;
$tone: #e4dac0;
$royal: #2d2e49;
$glow: #d4cea5;
$hay: #e8d5a8;

/* palette: http://www.colourlovers.com/palette/2871522/MY_bluszzzz */
// $royal
$winter: #457ab8;
