<section class="organization partial">
  <div class="caption">
    <h1><%= organization.name %></h1>
  </div>

  <div>
    <%= organization.location %>
  </div>

  <div>
    <%= organization.phone %>
  </div>
</section>
