<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Organizations</h1>
    </div>
  </div>
</div>

<% if Hei::Application.config.hei[ 'projects_as' ] != 'people' %>
  <div class="row">
    <div class="span12">
      <%= link_to t( 'organizations_new' ), new_organization_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<ul class="organization-cards thumbnails">

<% @organizations.each do |organization| %>
  <%= render partial: 'organizations/organization_card', locals: { organization: organization } %>
<% end %>

</ul>


